<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dropbox</ion-title>
    <ion-buttons end *ngIf="!loginButton">
      <button ion-button icon-only (click)="reload()">
        <i class="fa fa-refresh fa-lg"></i>
      </button>
      <span>&nbsp;</span>
      <button ion-button icon-only (click)="uploadFile($event)">
        <i class="fa fa-cloud-upload fa-lg"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="loginButton">
    <p></p>
    <ion-buttons>
      <button ion-button (click)="login($event)">
        <i class="fa fa-dropbox"></i>&nbsp;Grant access to your Dropbox account
      </button>
    </ion-buttons>
  </div>

  <div *ngIf="!loginButton">
    <ion-list>
      <ion-item-sliding *ngFor="let item of items">
        <!-- directory -->
        <button ion-item (click)="select($event, item)" *ngIf="!item.sizeHu" text-wrap>
          <ion-avatar item-start>
            <i class="fa fa-folder fa-2x"></i>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Directory</p>
        </button>
        <!-- file -->
        <ion-item *ngIf="item.sizeHu" detail-none text-wrap>
          <ion-avatar item-start>
            <i [class]="item.icon" *ngIf="!item.smallThumb"></i>
            <img [src]="item.smallThumb" *ngIf="item.smallThumb" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.sizeHu}}
            <span *ngIf="item.downloadProgress">&nbsp;({{item.downloadProgress}}%)</span>
          </p>
        </ion-item>
        <ion-item-options side="left" *ngIf="item.sizeHu">
          <button style="width: 70px;" ion-button color="primary" (click)="select($event, item)">
            <i class="fa fa-cloud-download fa-2x"></i>
          </button>
          <button style="width: 70px;" ion-button color="secondary" (click)="showDetails($event, item)">
            <i class="fa fa-eye fa-2x"></i>
          </button>
          <button style="width: 70px;" ion-button color="danger" (click)="confirmDelete($event, item)">
            <i class="fa fa-trash fa-2x"></i>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>